* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
  color: seashell;
  background-color: black;
  font-size: 22px;
}

h2,
h3,
h4,
h5,
p {
  color: seashell;
  opacity: 0.9;
}

header {
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_title {
  /* width: 70%; */
  height: auto;
  float: left;
}

.header_title img {
  padding-left: 10px;
  height: 50px;
  width: auto;
  margin: auto 0;
}
nav {
  display: flex;
  justify-content: space-around;
  float: right;
  /* width: 30%; */
}

nav li {
  padding: 20px 20px;
  display: inline-block;

  width: auto;
}
.nav-ul-li a {
  color: seashell;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  text-decoration: underline;
}

.main_container {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  position: relative;
  top: 69px;
  display: flex;
  align-items: center;
  background-image: url("./images/img-mission-background.jpg");
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main_container-text {
  height: 100px;
  width: 100%;
  padding: 15px 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.main_container-text h2 {
  margin-bottom: 15px;
}

.tea_month {
  width: 1000px;
  height: auto;
  text-align: center;
  margin: 100px auto;
  opacity: 0.9;
}
.tea_month-container {
  margin-bottom: 15px;
  opacity: 0.9;
}
.images-container {
  display: flex;
  justify-content: space-between;
}
.images-container .bottom {
  display: flex;
  justify-content: space-around;
}
.images-container article {
  margin: 10px 5px;
  opacity: 0.9;
}
.images-container img {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
  opacity: 0.9;
}
.images-container h3 {
  text-align: center;
  opacity: 0.9;
  /*display: inline-block;*/
}
/* 
.image .Blitz {
  background-image: url("./images/img-berryblitz.jpg");
}
.image .spiced {
  background-image: url("./images/img-spiced-rum.jpg");
} */

.location-container {
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("./images/img-locations-background.jpg");
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.location-container_head {
  width: 100%;
  color: #000;
  text-align: center;
}
.location-container_head h2 {
  padding-top: 75px;
  margin-bottom: 15px;
}
.location-card_container {
  height: auto;
  display: flex;
  justify-content: center;
}

.location-card {
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  height: 280px;
  margin: 0 20px;
}
footer .footer_main-data {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.copyright {
  text-align: left;
  margin: 20px 20px;
}
